body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-content .container {
  max-width: 1400px;
}

.download-modal {
  display: block;
  width: 600px;
  padding-left: 0px;
}

.download-icon-green {
  color: forestgreen;
  background-color: transparent;
  background-image: none;
  /* border-color: #467fcf; */
}

.download-icon-red {
  color: crimson;
  background-color: transparent;
  background-image: none;
  /* border-color: #467fcf; */
}

.download-clear {
  color: #fff;
  background-color: crimson;
  border-color: crimson;
}
